
/* Original dropdown button css */
/* button2,
.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: darkblue;
}
#myInput {
    border-box: box-sizing;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;} */

button2,
.dropbtn {
      -moz-appearance: none;
        -webkit-appearance: none;
        -ms-appearance: none;
        appearance: none;
        -moz-transition: border-color 0.2s ease;
        -webkit-transition: border-color 0.2s ease;
        -ms-transition: border-color 0.2s ease;
        transition: border-color 0.2s ease;
        background-color: transparent;
        border: solid 1px !important;
        border-color: rgba(255, 255, 255, 0.15) !important;
        border-radius: 3em;
        color: #ffffff  !important;
        cursor: pointer;
        display: inline-block;
        font-size: 0.6em;
        font-weight: bold;
        height: calc(4.75em + 2px);
        letter-spacing: 0.25em;
        line-height: 4.75em;
        outline: 0;
        padding: 0 3.75em;
        position: relative;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
}

.dropbtn:hover, .dropbtn:focus {
   background-color: red;
}
#myInput {
   border-box: box-sizing;
   background-image: url('searchicon.png');
   background-position: 14px 12px;
   background-repeat: no-repeat;
   font-size: 16px;
   padding: 14px 20px 12px 45px;
   border: none;
}

.dropdown {
   position: relative;
   display: inline-block;
}

.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f6f6f6 ;
   min-width: 230px;
   overflow: auto;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
   color: black;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}